.query {
  border: 1px solid black;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
  padding: 1em;
}

.textRoot {
  position: relative;
}

.textSuggest {
  position: absolute;
  top: calc(100% - 1em + 5px);
  left: 0;

  background: white;
  color: black;
  border: 1px solid #AAA;
  width: 100%;
  box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.textSuggestItem {
  padding: 0.25em;
  line-height: 1;
  cursor: pointer;
}

.textSuggestItem:hover, .textSuggestItem:focus {
  background: #1E90FF;
  color: white;
  outline: none;
}

input, label {
  width: 100%;
}

input {
  margin-bottom: 1em;
  padding: 0.25em;
}